.container_traffic{
    margin-top: 20px;
    background-color: #532345;
    width: 150px;
    height: 330px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.circle_traffic{
    background-color: #FCF0FB;
    width: 60px;
    height: 60px;
    border-radius: 100%;

}
.circle_traffic_back{
    background-color: #A89DA6;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.circle_red{
    background-color: rgb(244, 36, 102);
}

.circle_yellow{
    background-color: rgb(239, 222, 37);
}
.circle_green{
    background-color: rgb(14, 135, 58);
}
