<div class="row mt-5">
    <h2>Counter</h2>
    <hr>
</div>

<div class="row mt-2">
    <div class="col">

        <h1>{{value}}</h1>

        <div class="row">
            <h5>Setup</h5>
            <div class="div mb-2">

                <button  class="start" type="button" (click)="start()">¡Comenzar!</button>
                <button class="pause" type="button"  (click)="pause()">Pausa</button>
                <button  class="reset" type="button"  (click)="reset()">Borrar</button>

            </div>
        </div>

        <div class="row">
            <h5>Count</h5>
            <div class="div mb-2">

                <button  class="contar" type="button"  (click)="changeUp(true)">Contar</button>
                <button  class="atras" type="button"  (click)="changeUp(false)">Cuenta atrás</button>

            </div>
        </div>
    </div>

    
</div>