<table class="table table-hover">
    <thead>
        <tr>
            <th>nombre</th>
            <th>Estatus</th>
            <th>Especie</th>
            <th>Género</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let personaje of personajes, let i= index">
            <td>{{personaje.name}}</td>
            <td>{{personaje.status}}</td>
            <td>{{personaje.species}}</td>
            <td>{{personaje.gender}}</td>
        </tr>
    </tbody>
</table>
{{personajes | json}}